<h3>Typy zadań</h3>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Color</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @task_types.each do |task_type| %>
		<tr>
			<td>
              <i title="<%if task_type.show_in_filter%>Pokaż w filtach<%else%>Nie pokazuj w filtrach<%end%>" class="icon-filter" <% if not task_type.show_in_filter %>style="opacity: 0.2"<%end%>></i>
              <%= task_type.name %>
            </td>
			<td><div style="width: 20px; height: 20px; border: 1px solid black; background-color: <%= task_type.color %>"></div></td>

			<td><%= link_to 'Edit', edit_task_type_path(task_type), class: "btn btn-mini btn-primary" %>
			<%= link_to 'Destroy', task_type, confirm: 'Are you sure?', method: :delete, class: "btn btn-mini btn-danger" %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<br />

<div class="form-actions">
	<%= link_to 'Nowy typ zadania', new_task_type_path, class: "btn btn-primary" %>
</div>
