<% content_for :javascript_includes do %>
    <%= javascript_include_tag "views/calendar" %>
<% end %>

<div id="calendar"></div>
<% content_for :aside do %>
	<hr/>
	<h6><%=t("general.display_options")%></h6>
	<div id='calendar-filters'>
		<div class="btn-group calendar-filters" data-toggle="buttons-checkbox">
		  <button data-event-source='<%= activities_path format: :json %>' type="button" class="btn">Czynności</button>
		  <button data-event-source='<%= tasks_path format: :json %>' type="button" class="btn">Zadania</button>
		</div>
        <hr />
        <div>
            <%= select 'calendar', 'task_type_filter', [[]].concat(TaskType.showed_in_filters.map { |t| [t.name, t.id]}), {}, 'data-placeholder' => "Wybierz typ...", :class => "chsn-select" %>
        </div>
        <% if current_user.admin %>
            <hr />
            <div>
            <%= select 'calendar', 'user_filter', [[]].concat(User.all.map { |u| [u.label, u.id]}), {}, 'data-placeholder' => "Wybierz użytkownika...", :class => "chsn-select" %>
            </div>
        <% end %>
        <hr />
        <div>
        <%= select 'calendar', 'client_filter', [[]].concat(Client.all.map { |c| [c.fullname, c.id]}), {}, 'data-placeholder' => "Wybierz klienta...", :class => "chsn-select" %>
        </div>
	</div>
<% end %>
<% content_for :scripts do %>
$('#calendar').fullCalendar({	
	buttonText: {
		today:    'dziś',
	    month:    'miesiąc',
	    week:     'tydzień',
	    day:      'dzień'
	},
	allDayText: 'cały dzień',
	dayNames: [
		'Niedziela',
		'Poniedziałek',
		'Wtorek',
		'Środa',
		'Czwartek',
		'Piątek',
		'Sobota'
	],
	dayNamesShort: [
		'niedz.',
		'pon.',
		'wt.',
		'śr.',
		'czw.',
		'pt.',
		'sob.'
	],
	monthNames: [ 
		'Styczeń',
		'Luty',
		'Marzec',
		'Kwiecień',
		'Maj',
		'Czerwiec',
		'Lipiec',
		'Sierpien',
		'Wrzesień',
		'Październik',
		'Listopad',
		'Grudzień'
	],
	monthNamesShort: [
		'Sty',
		'Lut',
		'Mar',
		'Kwi',
		'Maj',
		'Cze',
		'Lip',
		'Sie',
		'Wrz',
		'Paź',
		'Lis',
		'Gru'
	],
	firstDay: 1, // Monday
	axisFormat: 'HH:mm',
	timeFormat: {
		'': 'H:mm',
	    agenda: 'H:mm{ - H:mm}'
	},
	height: $(document).height() - $('.navbar').height() - 60,
	windowResize: function(view) {
		$(this).fullCalendar('option','height', $(document).height() - $('.navbar').height() - 60)
	},
	header: {
		left: 'prev,next today',
		center: 'title',
		right: 'month,agendaWeek,agendaDay'
	},	
	editable: true
})
<% end %>
