<% content_for :javascript_includes do %>
    <%= javascript_include_tag "client_case" %>
<% end %>

<%= simple_form_for(@task) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">

    <%= f.input :client, :collection => Client.all, :label_method => :shortname, :input_html => { :class => "client-selector chsn-select", "data-placeholder" => "Wybierz Klienta..." } %>
    <%= f.association :case, :label_method => :name, :input_html =>
          { :class => "case-selector chsn-select",
            "data-placeholder" => "Przydziel sprawę...",
            "data-bind" => "options: cases, optionsText: 'name', optionsValue: 'id', value: selectedCase, chosen: true" }
    %>
	<%= f.input :files_signature, wrapper: :bootstrap %>
	<%= f.association :type, :input_html => { :class => "chsn-select", "data-placeholder" => "Wybierz typ zadania..." }, wrapper: :bootstrap %>	
	
	<%= f.input :name, wrapper: :bootstrap %>
	<%= f.input :description, wrapper: :bootstrap, :input_html => { :cols => 50, :rows => 5 } %>
	
	<%= f.input :planned_at, as: :datetime_range, date_input_html: { style: "width: 80px "}, time_input_html: { style: "width: 50px" } %>
	
	<%= f.association :assignee, :label_method => :name, :input_html => { :class => "chsn-select", "data-placeholder" => "Przydziel pracownika..." }%>
	

</div>

<div class="form-actions">
	<%= link_to t('back'), tasks_path, class: "btn" %>
	<%= f.button t('save'), class: "btn btn-primary" %>
</div>
<% end %>

<% content_for :scripts do %>
$('#task_type').chosen()

var d = new Date();
$('#task_planned_to_start_at_date').datepicker('setStartDate', d.getDate() + "/" + (d.getMonth() + 1) + "/" + d.getFullYear())
<% end %>
