<h3>Zadania</h3>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Zadanie/czynność/opis</th>
			<th>Pracownik</th>
			<th>Klient/Sprawa</th>
			<th>Utworzył</th>
			<th>Termin</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @tasks.each do |task| %>
		<tr>
			<td>
				<%= task.name if not task.name.empty? %>
                <span class='label' style='background-color: <%=task.type.color%>'><%= task.type.name %></span>
                <br/>
                <small><%= task.description if not task.description.empty? %></small>
			</td>
			<td><%= task.assignee ?
						task.assignee.firstname+' '+task.assignee.lastname  
						:
                        link_to(t('tasks.assign'), '/tasks/'+task.id.to_s+'/selfassign', class: "btn btn-mini")
            %>
            <%= link_to(t('tasks.resign'), '/tasks/'+task.id.to_s+'/selfresign', class: 'btn btn-mini') if task.assignee == current_user
            %>
            </td>
			<td><%= task.case.client.shortname if task.case %><br/>
			<%= task.case.name if task.case %></td>
			
			<td><%= task.author.firstname+' '+task.author.lastname %><br/><small><%= task.created_at %></small></td>
		    <td>
                <%= task.planned_to_start_at  if task.planned_to_start_at %>
			</td>
			<td>
				<%= link_to t('edit'), edit_task_path(task), class: "btn btn-mini btn-primary" %>
				<%= link_to t('remove'), task, confirm: t("general.are_you_sure?"), method: :delete, class: "btn btn-mini btn-danger" %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<div class="form-actions">
<%= link_to 'Nowe zadanie', new_task_path, class: "btn btn-primary" %>
</div>
