<%= simple_form_for @user do |f| %>
 
  <%= f.input :name, wrapper: 'bootstrap' %>
  <%= f.input :password, wrapper: 'bootstrap' %>
  <%= f.input :password_confirmation, wrapper: 'bootstrap' %>
  <%= f.input :firstname, wrapper: 'bootstrap' %>
  <%= f.input :lastname, wrapper: 'bootstrap' %>
  <%= f.input :active, wrapper: 'bootstrap' %>
  <%= f.input :admin, wrapper: 'bootstrap' %>
 
  <div class="form-actions">
  	<%= link_to 'Back', users_path, class: "btn" %>
    <%= f.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>
