<h3><%=t('users')%></h3>

<table class="table table-strip">
	<thead>
		<tr>
			<th><%=t('simple_form.labels.user.name')%></th>		
			<th><%=t('simple_form.labels.user.firstname')%></th>
			<th><%=t('simple_form.labels.user.lastname')%></th>
			<th><%=t('simple_form.labels.user.active')%></th>
			<th><%=t('simple_form.labels.user.admin')%></th>						
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.firstname %></td>
			<td><%= user.lastname %></td>
			<td><%= t(user.active.to_s) %></td>
			<td><%= t(user.admin.to_s) %></td>
			<td><%= link_to t('edit'), edit_user_path(user), class: "btn btn-mini btn-primary" %>
			<%= link_to t('remove'), user, confirm: 'Are you sure?', method: :delete, class: "btn btn-mini btn-danger" %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<div class="form-actions">
	<%= link_to t('new user'), new_user_path, class: "btn btn-primary" %>
</div>
