<%= simple_form_for @client do |f| %>

<%= f.input :shortname, wrapper: 'bootstrap' %>
<%= f.input :fullname, wrapper: 'bootstrap' %>
<%= f.input :contact, wrapper: 'bootstrap' %>
<%= f.input :nip, datawrapper: 'bootstrap' %>
<%= f.input :regon, wrapper: 'bootstrap' %>
<%= f.input :address, wrapper: 'bootstrap' %>


<div class="form-actions">
	<%= link_to t('back'), clients_path, class: "btn" %>
	<%= f.submit submit_label, class: "btn btn-primary" %>
</div>
<% end %>
