
<%= link_to'Nowy klient', new_client_path, :class => 'k-add btn btn-large btn-primary' %>

<h2>Klienci</h2>

<table class="table">
  <tr>
    <th>Skrót</th>
    <th>Pełna nazwa</th>
    <th>Kontakt</th>
    <th>NIP</th>
    <th>REGON</th>
    <th>Adres</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.shortname %></td>
    <td><%= client.fullname %></td>
    <td><%= client.contact %></td>
    <td><%= client.nip %></td>
    <td><%= client.regon %></td>
    <td><%= client.address %></td>
    <td><%= link_to 'Pokaż', client %></td>
    <td><%= link_to 'Edytuj', edit_client_path(client) %></td>
    <td><%= link_to 'Usuń', client, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />



    


