<h2>Klienci</h2>

<table class="table table-striped">
  <tr>
    <th>Skrót</th>
    <th>Pełna nazwa</th>
    <th>Kontakt</th>
    <th>NIP</th>
    <th>REGON</th>
    <th>Adres</th>
    <th></th>    
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.shortname %></td>
    <td><%= client.fullname %></td>
    <td><%= client.contact %></td>
    <td><%= client.nip %></td>
    <td><%= client.regon %></td>
    <td><%= client.address %></td>
    <td>
    <%= link_to 'Pokaż', client, class: "btn btn-mini" %>
    <%= link_to 'Edytuj', edit_client_path(client), class: "btn btn-mini btn-primary" %>
    <%= link_to 'Usuń', client, class: "btn btn-mini btn-danger", confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<div class="form-actions">
	<%= link_to'Nowy klient', new_client_path, :class => 'btn btn-primary' %>
</div>

    


