<h2><%=t(:clients)%></h2>

<table class="table table-striped">
  <tr>
    <th><%=t('simple_form.labels.client.shortname')%></th>
    <th><%=t('simple_form.labels.client.fullname')%></th>
    <th><%=t('simple_form.labels.client.contact')%></th>
    <th></th>    
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.shortname %></td>
    <td><%= client.fullname %></td>
    <td><%= client.contact %></td>
    <td>
    <%= link_to t(:details), client, class: "btn btn-mini" %>
    <%= link_to t(:edit), edit_client_path(client), class: "btn btn-mini btn-primary" %>
    <%= link_to t(:remove), client, class: "btn btn-mini btn-danger", confirm: t('are you sure'), method: :delete %></td>
  </tr>
<% end %>
</table>

<div class="form-actions">
	<%= link_to t(:new_client), new_client_path, :class => 'btn btn-primary' %>
</div>

    


