<h3><%=t('client')%> - <%= @client.shortname %></h3>
<p id="notice"><%= notice %></p>
<table class="table">
  <tbody>
    <tr>
      <td class='span2'><%=t('simple_form.labels.client.shortname')%></td>
      <td class='span7'><%= @client.shortname %></td>
    </tr>
    <tr>
      <td><%=t('simple_form.labels.client.fullname')%></td>
      <td><%= @client.fullname %></td>
    </tr>
    <tr>
      <td><%=t('simple_form.labels.client.contact')%></td>
      <td><%= @client.contact %></td>
    </tr>
    <tr>
      <td><%=t('simple_form.labels.client.email')%></td>
      <td><%= @client.email %></td>
    </tr>
    <tr>
      <td><%=t('simple_form.labels.client.website')%></td>
      <td><%= @client.website %></td>
    </tr>
    <tr>
      <td><%=t('simple_form.labels.client.nip')%></td>
      <td><%= @client.nip %></td>
    </tr>
    <tr>
      <td><%=t('simple_form.labels.client.regon')%></td>
      <td><%= @client.regon %></td>
    </tr>
    <tr>
      <td><%=t('simple_form.labels.client.street')%></td>
      <td><%= @client.street %></td>
    </tr>  
    <tr>
      <td><%=t('simple_form.labels.client.zipcode')%></td>
      <td><%= @client.zipcode %></td>
    </tr>  
    <tr>
      <td><%=t('simple_form.labels.client.city')%></td>
      <td><%= @client.city %></td>
    </tr>  
    <tr>
      <td><%=t('simple_form.labels.client.user')%></td>
      <td>
        <%= @client.user.firstname %> <%= @client.user.lastname %><br/>
        <%= @client.created_at %>
      </td>      
    </tr>
  </tbody>
</table>
<div class="form-actions">  
  <%= link_to t('back'), clients_path, :class => 'btn' %>
  <%= link_to t('edit'), edit_client_path(@client), :class => 'btn btn-primary' %>  
</div>
