<h3>Czynności</h3>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Zadanie/czynność</th>
			<th>Pracownik</th>
			<th>Klient</th>
			<th>Sprawa</th>
			<th>Terminy</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @activities.each do |activity| %>
		<tr>
			<td>
				<span class='label' style='background-color: <%=activity.type.color%>'><%= activity.type.name %></span>
				<%= activity.name if not activity.name.empty? %>
				 
			</td>
			<td><%= activity.assignee ?
						activity.assignee.firstname+' '+activity.assignee.lastname  
						: 
						'brak'%></td>
			<td><%= activity.case.client.shortname if activity.case %></td>
			<td><%= activity.case.name if activity.case %></td>
			<td>
				<% if activity.started_at %>
					<%=activity.started_at%> <span class='label'>Wykonany</span>
                <% else
                    if activity.planned_to_start_at %>
                    <%=activity.planned_to_start_at%> <span class='label'>Planowany</span>
                    <% end %>
				<% end %>
			</td>
			<td>
				<!--<%= link_to t('details'), edit_activity_path(activity), class: "btn btn-mini" %>-->
				<%= link_to t('edit'), edit_activity_path(activity), class: "btn btn-mini btn-primary" %>
				<%= link_to t('remove'), activity, confirm: 'Are you sure?', method: :delete, class: "btn btn-mini btn-danger" %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<div class="form-actions">
<%= link_to 'Nowa czynność', new_activity_path, class: "btn btn-primary" %>
</div>
