<% content_for :aside do %>
    <hr/>
    <h6>Opcje wyświetlania</h6>
    <div id='report-filters'>

    </div>
<% end %>
<table class="table table-bordered">
  <%
   grand_total = 0.0;
   @data.each do |id, subject|
    %>
      <tr class='info'>
        <td colspan='6'><h4><%= subject[:subject_label] %></h4></td>
      </tr>
      <%
         total = 0.0;
         subject[:subject_activities].each do |activity|
            total+=activity.hours_invoice
      %>
        <tr>
          <td>
            <%= activity.case.client.shortname %>
          </td>
          <td>
            <%= activity.case.name %>
          </td>
          <td>
            <%= activity.name %>
          </td>
          <td>
            <%= activity.started_at %>
          </td>
          <td>
            <%= activity.finished_at %>
          </td>
          <td>
            <%= activity.invoice_time %>
          </td>
        </tr>
      <% end
         grand_total+=total
      %>
      <tr>
        <td colspan='5'><span class='pull-right'>Suma</span></td>
        <td><%=total%>h</td>
      </tr>
<% end %>
</table>
