<!DOCTYPE html>
<html>
	<head>
		<title>Kancelaria<%= @page_title ? " | "+@page_title : ""  %></title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
        <%= stylesheet_link_tag    "print", :media => "print"%>
		<%= javascript_include_tag "application" %>
        <%= yield :javascript_includes %>
		<%= csrf_meta_tags %>
	</head>
	<body class="<%= controller.controller_name%>">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
					<a class="brand" href="#">Kancelaria OnLine</a>
					<div class="nav-collapse collapse">
						
						<%= render :partial=>"/search/form" %>
						
						<p class="navbar-text pull-right">
							<% if current_user %>
							Logged in as <a hr	ef="#" class="navbar-link"><%=current_user.name%></a>
							<% end %>
						</p>
						
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					<!--Side content-->
					<nav>
						
						<ul class="nav nav-pills nav-stacked">
							<!--<li class="nav-header">List header</li>-->
							<li data-menu-item="calendar">
								<a href="/calendar">Kalendarz</a>
							</li>
							<li data-menu-item="tasks">
								<%= link_to 'Zadania', tasks_path %>
							</li>
							<li data-menu-item="activities">
								<%= link_to 'Czynności', activities_path %>
							</li>
							<li data-menu-item="reports">
								<a href="/reports/index">Raporty</a>
							</li>
							<li data-menu-item="cases">
								<%= link_to 'Sprawy', cases_path %>
							</li>
							<li data-menu-item="clients">
								<%= link_to 'Klienci', clients_path %>
							</li>
							<li data-menu-item ="users">
								<%= link_to 'Użytkownicy', users_path %>
							</li>
							<li data-menu-item="task_types">
								<%= link_to 'Typy zadań', task_types_path %>
							</li>							
						</ul>
					</nav>
					<aside>
					<%= yield(:aside) %>
					</aside>
				</div>
				<div class="span10">
					<!--Body content-->
					<section id='content'>
						<%= yield %>
					</section>
				</div>
			</div>
		</div>
		<script>
		$(function() {
			$(document).ready(function() {
				<%= yield :scripts %>
				$('.nav li[data-menu-item="<%= controller.controller_name %>"]').addClass('active')
			})
		})		
		</script>
	</body>
</html>